name: yorcela

services:
  postgres:
    profiles: ["postgresql"]
    image: pgvector/pgvector:pg15
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1g"
        reservations:
          cpus: "0.5"
          memory: "512m"
    environment:
      POSTGRES_USER: ${DATABASE_USER:-yorcela_dev}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-yorcela_pwd}
      POSTGRES_DB: ${DATABASE_NAME:-yorcela_dev}
      POSTGRES_INITDB_ARGS: ${DATABASE_INITDB_ARGS:---encoding=UTF-8 --lc-collate=C --lc-ctype=C}
    volumes:
      - DATABASE_data:/var/lib/postgresql/data
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-yorcela_dev} -d ${POSTGRES_DB:-yorcela_dev}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks: [yorcela-network]
    restart: unless-stopped

networks:
  yorcela-network:
    driver: bridge

volumes:
  DATABASE_data:
