x-backend-base: &backend_base
  networks: [yorcela-network]
  restart: unless-stopped
  ports: ["${PORT:-3000}:3000"]

services:
  backend:
    <<: *backend_base
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        PNPM_FROZEN: "false"
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: "1g"
        reservations:
          cpus: "1.0"
          memory: "1g"
    env_file: [.env]
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    command: sh -lc 'pnpm doc:gen && pnpm dev'

  mailhog:
    image: mailhog/mailhog:latest
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: "256m"
    platform: linux/amd64
    ports: ["1025:1025", "8025:8025"]
    networks: [yorcela-network]
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 1025 || nc -z localhost 8025"]
      interval: 10s
      timeout: 5s
      retries: 5

  prisma-studio:
    <<: *backend_base
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        PNPM_FROZEN: "false"
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: "256m"
    command: pnpm prisma:studio
    env_file: [.env]
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PRISMA_ENGINES_DIR: /tmp/prisma-engines
    ports: ["5555:5555"]
    volumes:
      - .:/app
    restart: "no"
